.secret-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    /* secretinput.css */
    width: 100%;

    padding: 20px;
    border-radius: 10px;
    color: #fff;
    margin-bottom: 30px;
    text-align: center;

    & form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    & h3 {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }

    .secret-input {
        padding: 10px;
        font-size: 1rem;
        width: 400px;
        margin-bottom: 20px;
        border-radius: 8px;
        border: none;
        background-color: #444;
        color: #fff;
        cursor: text;
    }

    .submit-btn {
        padding: 10px 20px;
        font-size: 1rem;
        background-color: #0073e6;
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
    }

    .submit-btn:hover {
        background-color: #005bb5;
    }

    .feedback {
        margin-top: 15px;
        font-size: 1.1rem;
        font-weight: bold;
    }

    .feedback.correct {
        color: #28a745;
    }

    .feedback.incorrect {
        color: #dc3545;
    }

}